# Sampling tweets

In [4]:
import pandas as pd

Plik w ktorym tworze probke tweetow

In [5]:
twts = pd.read_csv('../datasets/Tweets/Tweet.csv')
cmp_tweet = pd.read_csv('../datasets/Tweets/Company_Tweet.csv')
cmp = pd.read_csv('../datasets/Tweets/Company.csv')

In [6]:
twts.head()

,tweet_id,writer,post_date,body,comment_num,retweet_num,like_num
0,550441509175443456,VisualStockRSRC,1420070457,"lx21 made $10,008 on $AAPL -Check it out! htt...",0,0,1
1,550441672312512512,KeralaGuy77,1420070496,Insanity of today weirdo massive selling. $aap...,0,0,0
2,550441732014223360,DozenStocks,1420070510,S&P100 #Stocks Performance $HD $LOW $SBUX $TGT...,0,0,0
3,550442977802207232,ShowDreamCar,1420070807,$GM $TSLA: Volkswagen Pushes 2014 Record Recal...,0,0,1
4,550443807834402816,i_Know_First,1420071005,Swing Trading: Up To 8.91% Return In 14 Days h...,0,0,1

In [7]:
len(twts)

3717964

In [8]:
cmp_tweet.head()

             tweet_id ticker_symbol
0  550803612197457920          AAPL
1  550803610825928706          AAPL
2  550803225113157632          AAPL
3  550802957370159104          AAPL
4  550802855129382912          AAPL

In [9]:
mrged = twts.merge(cmp_tweet, on='tweet_id', how='inner')

In [10]:
mrged.head()

,tweet_id,writer,post_date,body,comment_num,retweet_num,like_num,ticker_symbol
0,550441509175443456,VisualStockRSRC,1420070457,"lx21 made $10,008 on $AAPL -Check it out! htt...",0,0,1,AAPL
1,550441672312512512,KeralaGuy77,1420070496,Insanity of today weirdo massive selling. $aap...,0,0,0,AAPL
2,550441732014223360,DozenStocks,1420070510,S&P100 #Stocks Performance $HD $LOW $SBUX $TGT...,0,0,0,AMZN
3,550442977802207232,ShowDreamCar,1420070807,$GM $TSLA: Volkswagen Pushes 2014 Record Recal...,0,0,1,TSLA
4,550443807834402816,i_Know_First,1420071005,Swing Trading: Up To 8.91% Return In 14 Days h...,0,0,1,AAPL

In [11]:
from datetime import datetime

mrged = mrged.drop(['writer'], axis=1)
mrged['post_date'] = mrged['post_date'].apply(datetime.fromtimestamp)

In [12]:
mrged.to_csv('tweets_full.csv', index=False)

In [13]:
#mrged.sample(5)

In [14]:
#sample = mrged.sample(100_000, random_state=2137)

In [15]:
#sample.to_csv('tweets_sample.csv', index=False)